<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salted.fish.mapper.FishVideoMapper">
    
    <resultMap type="com.salted.fish.common.entity.FishVideo" id="FishVideoResult">
        <result property="id"    column="id"    />
        <result property="videoCode"    column="video_code"    />
        <result property="videoTitle"    column="video_title"    />
        <result property="videoLogoUrl"    column="video_logo_url"    />
        <result property="columnCode"    column="column_code"    />
        <result property="userId"    column="user_id"    />
        <result property="userHeadUrl"    column="user_head_url"    />
        <result property="userNickname"    column="user_nickname"    />
        <result property="labelCode"    column="label_code"    />
        <result property="labelName"    column="label_name"    />
        <result property="videoTotalTime"    column="video_total_time"    />
        <result property="videoDifficultyCode"    column="video_difficulty_code"    />
        <result property="videoDifficultyName"    column="video_difficulty_name"    />
        <result property="isMember"    column="is_member"    />
        <result property="isRecommend"    column="is_recommend"    />
        <result property="isRelease"    column="is_release"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectFishVideoVo">
        select id, video_code, video_title, video_logo_url, column_code, user_id, user_head_url, user_nickname, label_code, label_name, video_total_time, video_difficulty_code, video_difficulty_name, is_member, is_recommend, is_release, is_delete, create_time, update_time from fish_video
    </sql>
	
    <select id="selectFishVideoList" parameterType="com.salted.fish.common.entity.FishVideo" resultMap="FishVideoResult">
        <include refid="selectFishVideoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="videoCode != null  and videoCode != '' "> and video_code = #{videoCode}</if>
             <if test="videoTitle != null  and videoTitle != '' "> and video_title = #{videoTitle}</if>
             <if test="videoLogoUrl != null  and videoLogoUrl != '' "> and video_logo_url = #{videoLogoUrl}</if>
             <if test="columnCode != null  and columnCode != '' "> and column_code = #{columnCode}</if>
             <if test="userId != null  and userId != '' "> and user_id = #{userId}</if>
             <if test="userHeadUrl != null  and userHeadUrl != '' "> and user_head_url = #{userHeadUrl}</if>
             <if test="userNickname != null  and userNickname != '' "> and user_nickname = #{userNickname}</if>
             <if test="labelCode != null  and labelCode != '' "> and label_code = #{labelCode}</if>
             <if test="labelName != null  and labelName != '' "> and label_name = #{labelName}</if>
             <if test="videoTotalTime != null  and videoTotalTime != '' "> and video_total_time = #{videoTotalTime}</if>
             <if test="videoDifficultyCode != null  and videoDifficultyCode != '' "> and video_difficulty_code = #{videoDifficultyCode}</if>
             <if test="videoDifficultyName != null  and videoDifficultyName != '' "> and video_difficulty_name = #{videoDifficultyName}</if>
             <if test="isMember != null  and isMember != '' "> and is_member = #{isMember}</if>
             <if test="isRecommend != null  and isRecommend != '' "> and is_recommend = #{isRecommend}</if>
             <if test="isRelease != null  and isRelease != '' "> and is_release = #{isRelease}</if>
             <if test="isDelete != null  and isDelete != '' "> and is_delete = #{isDelete}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectFishVideoById" parameterType="Integer" resultMap="FishVideoResult">
        <include refid="selectFishVideoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFishVideo" parameterType="com.salted.fish.common.entity.FishVideo" useGeneratedKeys="true" keyProperty="id">
        insert into fish_video
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="videoCode != null  and videoCode != ''  ">video_code,</if>
			<if test="videoTitle != null  and videoTitle != ''  ">video_title,</if>
			<if test="videoLogoUrl != null  and videoLogoUrl != ''  ">video_logo_url,</if>
			<if test="columnCode != null  and columnCode != ''  ">column_code,</if>
			<if test="userId != null  and userId != ''  ">user_id,</if>
			<if test="userHeadUrl != null  and userHeadUrl != ''  ">user_head_url,</if>
			<if test="userNickname != null  and userNickname != ''  ">user_nickname,</if>
			<if test="labelCode != null  and labelCode != ''  ">label_code,</if>
			<if test="labelName != null  and labelName != ''  ">label_name,</if>
			<if test="videoTotalTime != null  and videoTotalTime != ''  ">video_total_time,</if>
			<if test="videoDifficultyCode != null  and videoDifficultyCode != ''  ">video_difficulty_code,</if>
			<if test="videoDifficultyName != null  and videoDifficultyName != ''  ">video_difficulty_name,</if>
			<if test="isMember != null  and isMember != ''  ">is_member,</if>
			<if test="isRecommend != null  and isRecommend != ''  ">is_recommend,</if>
			<if test="isRelease != null  and isRelease != ''  ">is_release,</if>
			<if test="isDelete != null  and isDelete != ''  ">is_delete,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateTime != null  ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="videoCode != null  and videoCode != ''  ">#{videoCode},</if>
			<if test="videoTitle != null  and videoTitle != ''  ">#{videoTitle},</if>
			<if test="videoLogoUrl != null  and videoLogoUrl != ''  ">#{videoLogoUrl},</if>
			<if test="columnCode != null  and columnCode != ''  ">#{columnCode},</if>
			<if test="userId != null  and userId != ''  ">#{userId},</if>
			<if test="userHeadUrl != null  and userHeadUrl != ''  ">#{userHeadUrl},</if>
			<if test="userNickname != null  and userNickname != ''  ">#{userNickname},</if>
			<if test="labelCode != null  and labelCode != ''  ">#{labelCode},</if>
			<if test="labelName != null  and labelName != ''  ">#{labelName},</if>
			<if test="videoTotalTime != null  and videoTotalTime != ''  ">#{videoTotalTime},</if>
			<if test="videoDifficultyCode != null  and videoDifficultyCode != ''  ">#{videoDifficultyCode},</if>
			<if test="videoDifficultyName != null  and videoDifficultyName != ''  ">#{videoDifficultyName},</if>
			<if test="isMember != null  and isMember != ''  ">#{isMember},</if>
			<if test="isRecommend != null  and isRecommend != ''  ">#{isRecommend},</if>
			<if test="isRelease != null  and isRelease != ''  ">#{isRelease},</if>
			<if test="isDelete != null  and isDelete != ''  ">#{isDelete},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
         </trim>
    </insert>
	 
    <update id="updateFishVideo" parameterType="com.salted.fish.common.entity.FishVideo">
        update fish_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="videoCode != null  and videoCode != ''  ">video_code = #{videoCode},</if>
            <if test="videoTitle != null  and videoTitle != ''  ">video_title = #{videoTitle},</if>
            <if test="videoLogoUrl != null  and videoLogoUrl != ''  ">video_logo_url = #{videoLogoUrl},</if>
            <if test="columnCode != null  and columnCode != ''  ">column_code = #{columnCode},</if>
            <if test="userId != null  and userId != ''  ">user_id = #{userId},</if>
            <if test="userHeadUrl != null  and userHeadUrl != ''  ">user_head_url = #{userHeadUrl},</if>
            <if test="userNickname != null  and userNickname != ''  ">user_nickname = #{userNickname},</if>
            <if test="labelCode != null  and labelCode != ''  ">label_code = #{labelCode},</if>
            <if test="labelName != null  and labelName != ''  ">label_name = #{labelName},</if>
            <if test="videoTotalTime != null  and videoTotalTime != ''  ">video_total_time = #{videoTotalTime},</if>
            <if test="videoDifficultyCode != null  and videoDifficultyCode != ''  ">video_difficulty_code = #{videoDifficultyCode},</if>
            <if test="videoDifficultyName != null  and videoDifficultyName != ''  ">video_difficulty_name = #{videoDifficultyName},</if>
            <if test="isMember != null  and isMember != ''  ">is_member = #{isMember},</if>
            <if test="isRecommend != null  and isRecommend != ''  ">is_recommend = #{isRecommend},</if>
            <if test="isRelease != null  and isRelease != ''  ">is_release = #{isRelease},</if>
            <if test="isDelete != null  and isDelete != ''  ">is_delete = #{isDelete},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteFishVideoById" parameterType="Integer">
        delete from fish_video where id = #{id}
    </delete>
	
    <delete id="deleteFishVideoByIds" parameterType="String">
        delete from fish_video where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>